<!DOCTYPE html>
<html> 
    <head>
        <title>File Upload</title>
    </head>
    
    <body>
        <h1>Single File Upload</h1>
    
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="folder" required/> <br>
            <br>
            <input type="submit" value="Upload"> 
        </form>
    </body>
</html>